<div class="mj-grid" data-ng-class="{'no-title': mjGridCtrl.titleList.length == 0}">
	<div class="mj-grid-header">
		<div class="mj-grid-header-wrap">
			<table role="grid" data-ng-if="mjGridCtrl.titleList.length > 0" class="table table-responsive out">
				<thead role="rowgroup">
				<tr role="row">
					<th ng-style="{{ t.style }}" colspan="{{ t.colspan }}" role="columnheader"
							data-ng-repeat="t in mjGridCtrl.titleList">
						{{ t.title }}
					</th>
					<th class="w-30" data-ng-if="mjGridCtrl.apiUrl.save || mjGridCtrl.apiUrl.update || mjGridCtrl.apiUrl.delete"></th>
				</tr>
				</thead>
			</table>
		</div>
	</div>
	<div class="mj-grid-content">
		<!--{{ $id }}-->
		<table role="grid" class="table table-responsive out">
			<tbody role="rowgroup">
			<tr class="m-master"
					data-ng-repeat-start="item in items" data-ng-click="mjGridCtrl.toggleRow($event, item)">
				<td ng-style="{{ c.style }}" colspan="{{ c.colspan }}"
						data-ng-repeat="c in mjGridCtrl.columnList">
					<span data-ng-if="mjGridCtrl.isTranscluded && $index == 0" class="sub fa"
								data-ng-class="{'fa-plus-square-o': !item.isOpen, 'fa-minus-square-o': item.isOpen}"></span>
					<!--<p data-ng-if="mjGridCtrl.isTranscluded && $index == 0">-->
						<!--&lt;!&ndash;{{ item }}&ndash;&gt;-->
						<!--<span><strong>{{ mjGridCtrl.getProperty(item, c.group) }} &nbsp;</strong></span>-->
					<!--</p>-->
					<span>
						{{ mjGridCtrl.getValue(item, c.field, c.filter) }}
					</span>
				</td>
				<td class="w-30" data-ng-if="mjGridCtrl.apiUrl.save || mjGridCtrl.apiUrl.update || mjGridCtrl.apiUrl.delete">
					<div class="dropdown right" dropdown>
						<a href=""  class="dropdown-toggle" dropdown-toggle>
							<i class="fa fa-cogs small"></i>
						</a>
						<ul class="dropdown-menu extended small">
							<li data-ng-if="mjGridCtrl.apiUrl.save">
								<a href="" data-ng-click="mjGridCtrl.addItem(item)"><span class="fa fa-plus"></span> Add </a>
							</li>
							<li data-ng-if="mjGridCtrl.apiUrl.update">
								<a href="" data-ng-click="mjGridCtrl.editItem(item)"><span class="fa fa-pencil"></span> Edit</a>
							</li>
							<li data-ng-if="mjGridCtrl.apiUrl.delete">
								<a href="" data-ng-click="mjGridCtrl.deleteItem(item)"><span class="fa fa-times"></span>Delete</a>
							</li>
						</ul>
					</div>
				</td>
			</tr>
			<tr data-ng-show="mjGridCtrl.isTranscluded && item.isOpen" class="m-detail"
					data-ng-repeat-end>
				<td colspan="{{ mjGridCtrl.titleList.length + 1 }}" my-transclude current-item="item"
						params="params"></td>
			</tr>
			</tbody>
		</table>
		<!--<a data-ng-click="mjGridCtrl.checkList()">check</a>-->
	</div>
	<div class="mj-grid-footer"></div>
</div>