<h1>Binding to local data</h1>
<div class="row">
    <div class="col-md-12">
        <p class="lead">restNgGrid supports data binding display either from local or remote data storage</p>
        <p>For local data binding you need to supply an array of JavaScript objects/JSON via <code>items</code> property of the grid.</p>
        <p>In this example rest-ng-grid fetches data from variable <code>$scope.dataGroups</code></p>
    </div>
</div>
<div class="row">
    <!--<div class="col-md-6">-->
        <!--<div ui-codemirror="codemirrorOptionsJs" ng-model="codeJs" ui-refresh='isSomething'></div>-->
        <!--<uib-tabset>-->
            <!--<uib-tab heading="Markup">-->
                <!--<div ui-codemirror="codemirrorOptionsJs" ng-model="codeJs" ui-refresh='isSomething'>-->
                <!--</div>-->
            <!--</uib-tab>-->
        <!--</uib-tabset>-->
    <!--</div>-->

    <div class="col-md-12" ng-controller="PlunkerCtrl"
         ng-init="
vendor_css=['https://github.com/matjas/rest-ng-grid/tree/master/misc/demo/assets/styles/demo.css'];
vendor_js=['https://github.com/matjas/rest-ng-grid/tree/master/misc/demo/assets/app.js'];
      "
    >
        <h2>HTML5/JavaScript source</h2>
        <!--<div class="pull-right">-->
            <!--<button class="btn btn-info" ng-click="edit('1.4.9', 'restNgGrid', 'rest-ng-grid')">-->
                <!--<i class="glyphicon glyphicon-edit"></i> Edit in plunker-->
            <!--</button>-->
        <!--</div>-->

        <uib-tabset>
            <uib-tab heading="index.html">
                <div plunker-content="index.html">
                    <pre class="prettyprint lang-html" ng-set-text="index.html-1" ng-html-wrap="app angular.js app.js rest-ng-grid.js ui-bootstrap-tpls.min.js rest-ng-grid.css"></pre>
                </div>
            </uib-tab>
            <uib-tab heading="app.js">
                <div plunker-content="app.js">
                    <pre class="prettyprint lang-javascript" ng-set-text="app.js"></pre>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Demo</h3>
        <rest-ng-grid data-hook="groupGrid" options="groupsGridOptions" items="dataGroups"></rest-ng-grid>
    </div>
</div>

<script type="text/ng-template" id="index.html-1">
    <div ng-controller="MainCtrl">
        <rest-ng-grid data-hook="groupGrid" options="groupsGridOptions" items="dataGroups"></rest-ng-grid>
    </div>
</script>
<script type="text/ng-template" id="app.js">
    var app = angular.module('app', ['restNgGrid']);

    app.controller('MainCtrl', ['$scope', function ($scope) {
        $scope.dataGroups = [
            {
                id: 1,
                name: "RTV",
                reference: "Ref1"
            },
            {
                id: 2,
                name: "AGD",
                reference: "Ref2"
            },
            {
                id: 3,
                name: "Computers",
                reference: "Ref3"
            }
        ];

        //GRID OPTIONS
        $scope.groupsGridOptions = {
            columns: {
                titles: [
                    {
                        title: 'Name'
                    }
                    {
                        title: 'Reference'
                    }
                ],
                fields: [
                    {
                        field: 'name'
                    }
                    {
                        field: 'reference'
                    }
                ]
            }
        };
    }]);
</script>
