<!DOCTYPE html>
<html lang="en" ng-app="restNgGrid.demo">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="icon" href="assets/favicon.ico" />
  <title>Angular REST data grid</title>
  <meta name="description" content="">
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-resource.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-touch.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-sanitize.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-mocks.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.2/ui-bootstrap-tpls.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.0.1/lodash.min.js"></script>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/demo.css"/>
  <link rel="stylesheet" href="assets/rest-ng-grid.css"/>
</head>
<body class="ng-cloak" ng-controller="MainCtrl">
<header class="navbar">
  <div class="container">

  </div>
</header>
<div role="main">
  <header></header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Angular REST data grid</h1>
        <div>
          <p>
            <button class="btn btn-primary" ng-click="getGroups()">Get Groups</button>
            <!--<button class="btn btn-primary" ng-click="addNewGroup()">Add new group</button>-->
          </p>
          <mj-grid options="groupsGridOptions" iXtems="dataGroups"
                   params="sourceParams" get-data-trigger="load.groups" aXdd-row="addNewGroup"
                   add-child-row="addQLine" uXpdate-row="updateGroup" dXelete-row="deleteGroup" >
            <mj-grid options="productsGridOptions"  update-row="editQLine" ></mj-grid>
          </mj-grid>
        </div>
      </div>
    </div>
  </div><!-- /.container -->
</div><!-- /.main -->
<footer class="footer">
  <div class="container">
  </div>
</footer>
</body>
<script src="assets/rest-ng-grid.js"></script>
<script src="assets/app.js"></script>
<script src="assets/app-mockbackend.js"></script>
<script src="assets/services/DataModel.js"></script>
<script src="assets/services/Http.js"></script>
<script src="assets/services/Resource.js"></script>
<script src="assets/app-controller.js"></script>
<script src="//localhost:35729/livereload.js"></script>
</html>